// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $gray-600;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-800;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.35rem;
}

.list-social-icons {
  a {
    color: $gray-700;
    &:hover {
      color: $primary;
    }
    .fa-lg {
      font-size: 1.75rem;
    }
  }
}

.list-icons {
  font-size: 3rem;
  .list-inline-item i {
    &:hover {
      color: $primary;
    }
  }
}

.shad-1 {
  color: white !important;
  text-shadow: 0px 0px 10px black, 0px 0px 10px black;
}

.shad-2 {
  color: white !important;
  text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
}

.redux-custom {
  background-image: url("https://redux.js.org/img/redux.svg");
  background-repeat: no-repeat;
  background-size: auto 44px;
  background-position-x: 0;
  filter: grayscale(100%);
  height: 43px;
  width: 44px;
  &:hover {
    filter: grayscale(40%);    
  }
}

.devicons.devicons-less {
  font-size: 64px;
  position: relative;
  top: 7px;
  margin: 0px -8px;
}

.gcp-custom {
  background-image: url("https://cloud.google.com/_static/0a78ff57b6/images/cloud/cloud-logo.svg");
  background-repeat: no-repeat;
  background-size: auto 36px;
  background-position-x: 3px;
  filter: grayscale(100%);
  height: 36px;
  width: 52px;
  &:hover {
    filter: grayscale(75%);    
  }
}

.aws-custom {
  background-image: url("https://a0.awsstatic.com/main/images/logos/aws_smile-header-desktop-en-white_59x35.png");
  background-repeat: no-repeat;
  background-size: auto 28px;
  background-position-x: 0px;
  filter: invert(100%) grayscale(100%);
  height: 32px;
  width: 50px;
  &:hover {
    filter: invert(80%) grayscale(10%);    
  }
}

.es-custom {
  background-image: url("https://static-www.elastic.co/v3/assets/bltefdd0b53724fa2ce/blt280217a63b82a734/5bbdaacf63ed239936a7dd56/elastic-logo.svg");
  background-repeat: no-repeat;
  background-size: auto 40px;
  background-position-x: 5px;
  filter: grayscale(100%);
  height: 40px;
  width: 50px;
}

#carouselIndicators {
  width: 100%;
}
