#sideNav {
  z-index: 1500;
  .navbar-brand {}
  .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase;
  }
}

.glass-top {
  background-image: linear-gradient(150deg,#ffffff10 0%,#ffffff44 18%,#ff000000 15%);
  &:before {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: linear-gradient(150deg,#ff000000 80%,#ffffff10 20%,#ffffff44);
    pointer-events: none;
  }
}

@media (min-width: 992px) {
  #sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: $sidebar-base-width;
    height: 100vh;
    padding: 0!important;
    .navbar-brand {
      display: flex;
      margin: auto auto 2rem;
      padding: 0.5rem;
      .img-profile {
        max-width: 11.5rem;
        max-height: auto;
        border: 0.3rem solid fade-out($white, 0.8);
      }
    }
    .navbar-collapse {
      display: flex;
      align-items: flex-start;
      flex-grow: 0;

      width: 100%;
      margin-bottom: auto;
      .navbar-nav {
        flex-direction: column;

        width: 100%;
        .nav-item {
          display: block;
          .nav-link {
            display: block;
          }
        }
      }
    }
  }
}
