section.resume-section {
  border-bottom: 1px solid $gray-300;
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  .resume-item {
    .resume-content {
      width: 100%;
      .subheading {
        display: inline-block;
        color: $orange;
      }
    }
    .resume-date {
      float: right;
      text-align: right;
      line-height: 1.8rem;
      font-weight: 600;
    }
    .text-primary {
      font-weight: 600;
    } 
  }
}
@media only screen and (max-width: 560px) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-content {}
      .subheading {
        display: block;
        margin: 0;
      }
      .resume-date {
        float: none;
        display: block;
        text-align: left;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
    .resume-item {
      .resume-content {}
      .resume-date {
        min-width: 18rem;
      }
    }
  }
}
@media only screen and (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
