.App {
	text-align: center;
}

.row {
	margin: auto;
	padding: 0px;
}

.header {
	margin: 0px;
}

.background {

}
.mid {
	margin: auto;
	margin-top: 5%;
	padding: 0px;
}

.body {
	background-color: #707d8a;
	opacity: .9;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
