.App {
	text-align: center;
}

.row {
	margin: auto;
	padding: 0px;
}

.header {
	margin-top: 4%;
}

.background {
	background-color: lightgrey;
}

.mid {
	margin: auto;
	padding: 0px;
}

.body {
	background-color: #707d8a;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
